.git
.env
.env.backup
.env.production
node_modules
vendor
.vscode
.vercel
.idea
.fleet
.nova
.zed
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
tests
phpunit.xml
.phpunit.cache
.phpunit.result.cache
deploy
